/* styles.css */
.button-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;  /* Щоб кнопки були поверх карти */
}

.button-link {
    display: block;
    padding: 10px;
    margin: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.button-link:hover {
    background-color: #0056b3;
}

html, body {
    height: 100%; /* Задаємо 100% висоти для документа */
    margin: 0; /* Відключаємо стандартні відступи */
}

.map-container {
    position: "absolute";
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}

.page-title {
    position: absolute;
    top: 0px;
    left: 60px;
    z-index: 1000; /* Щоб заголовок був поверх карти */
    color: rgb(255, 255, 255);
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5); /* Напівпрозорий фон */
    padding: 10px;
    border-radius: 5px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.login-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-title {
    margin-bottom: 20px;
}

.input-box {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.back-link {
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.back-link:hover {
    text-decoration: underline;
}